<form action="/signup" method="POST">
    <input type="email" name="email" placeholder="Insert your mail">
    <input type="password" name="password" placeholder="Insert password">
    <input type="submit" value="signup">
</form>